body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    /*    max-width: 800px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}
h2 {
    margin-top: 1.3em;
}
a {
    color: #0083e8;
}
img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}
@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}
@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}
b {
    font-weight: bold;
}
#loader {
    margin-left: 20px;
    margin-top: 20px;
}
.header {
    text-align: center;
}
.verticalLine {
    border-left: solid #545454 1px;
    margin-left: 20px;
    padding-left: 10px;
}
/* Very Wide */

.ui.very.wide.sidebar {
    width: calc(100% - 800px) !important;
    margin-left: calc(800px - 100%) !important;
    padding-left: 10px;
    background: #fff;
}
.ui.active.very.wide.sidebar {
    margin-left: 0px !important;
}
.ui.active.right.very.wide.sidebar {
    margin-left: calc(800px - 100%) !important;
}
#speciesContainer {
    position: relative;
}
