# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
semantic/
.idea/
*.min.css
*.min.js
*.pyc
google7e0693b4ccda33f7.html
sitemap
Thumbs.db